<html lang="en-US" style=""><head>
<style>
	.page-title span.base {
		display: none;
	}
	.cms_wrapper h1{
		border-bottom: 1px solid #d6e9ed;
		padding-bottom: 15px;
		margin-bottom: 30px;
		font-size: 32px;
		font-weight: 600;
	}
	.cms_wrapper h2{font-size:24px;}

	@media (max-width:540px) {
		.cms_wrapper h1{font-size: 18px;}
	}
</style>
<div class="staticPages_cmsWhiteBox__CVn7B">
	<div class="cms_wrapper">
		<h1>About - Titan EyePlus</h1>
		<h2>TITAN EYE+</h2>
		<p>Titan Eye+, the eyewear business from Titan Company, was launched in March 2007. The move was an initiative to redefine the industry and straddle the marketplace with exacting quality standards, unparalleled in India’s prescription eyewear industry.</p>
		<p>Benchmarked against the best in the world, Titan Eye+ heralds standardization in the eyewear industry. Following Tata‘s principles of quality and trust, the brand offers international quality standards enhanced by practices such as transparency in pricing, contemporary design and styling in the highly fragmented and undifferentiated Indian optical retail segment.</p>
		<p>Titan Eye+ has over 900+ exclusive stores operating in over 350+ cities and offers a wide range of stylish and contemporary eyewear.</p>
		<h4>TITAN COMPANY LIMITED</h4>
		<p>Titan Company Limited (earlier known as Titan Industries Limited) – a joint venture between the Tamil Nadu Industrial Development Corporation (TIDCO) and Tata Group – commenced operations in 1987 under the name Titan Watches Limited. In 1994, Titan diversified into jewellery, and subsequently, into eyewear with Titan Eye+. In 2013, Titan entered the fragrances segment with SKINN. </p>
		<p>Today, Titan Company – India’s unchallenged leader in watches, jewellery and eyewear – is credited with changing the face of all these industries.</p>
		<p>To know more,<a href="https://www.titancompany.in/our-brands/titan-eyeplus">click here. </a></p>
	</div>
</div></div></div></div></div>
</body></html>